body {
    background-image: url("../image/faro.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
/** {
    border: solid blue 5px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}*/

p {
    font-size: 30px;
    font-weight: bold;
    /*font-style: italic;*/
    font-family: "Arial";
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 50px;
}

#tablita {
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px 1px 1px 0px;
    height: 300px ;
    width: 50%;
}
.dark {
    color: white;
    background-color: black;
}

